{% extends "_base.html" %}


{% block page_title %}
    Home
{% endblock page_title %}

{% load static %}

{% block img_title %}
    <link rel="icon" href="{% static 'icons/home.png' %}" >
{% endblock img_title %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-3" style="width: 11rem; display: inline-block !important; margin-left: 1rem">
          <img class="card-img-top" style="width: 10rem !important;" src="{% static 'icons/plus.svg' %}" alt="Card image cap">
          <div class="card-body">
            <a href="{% url 'add_book' %}" style="color: #fff" class="btn btn-info">اضافه کردن کتاب</a>
          </div>
        </div>
        <div class="card mt-3" style="width: 11rem; display: inline-block !important; margin-left: 1rem">
              <img class="card-img-top" style="width: 10rem !important;" src="{% static 'icons/login.png' %}" alt="Card image cap">
              <div class="card-body">
                <a href="{% url 'login' %}" style="color: #fff" class="btn btn-info">ورود یا ثبت نام</a>
              </div>
        </div>
        <div class="card mt-3" style="width: 11rem; display: inline-block !important; margin-left: 1rem">
                  <img class="card-img-top" style="width: 10rem !important;" src="{% static 'icons/books.webp' %}" alt="Card image cap">
                  <div class="card-body">
                    <a href="{% url 'book_list' %}" style="color: #fff" class="btn btn-info">لیست کتاب ها</a>
                  </div>
        </div>
    </div>
{% endblock content %}
